.DS_Store
.idea
.vscode
#files
datas/**/
!datas/db_planfit_res-20230719.db
/training-videos/
/planfit*/

*.zip
codes/planfit_scraper/config.json
codes/planfit_scraper/config copy.json
codes/planfit_scraper/.qiniu_pythonsdk_hostscache.json
codes/planfit_scraper/__pycache__/
codes/ai-fitness-service/nohup.out
