.DS_Store
.idea
.vscode
#files
/datas/
/training-videos/
/planfit*/

*.zip
codes/planfit_scraper/config.json
codes/planfit_scraper/config copy.json
codes/planfit_scraper/.qiniu_pythonsdk_hostscache.json
codes/planfit_scraper/__pycache__/
